.filter-container {
  padding: 1.5rem;
}
.header {
  justify-content: space-between;
  margin: 1rem 0;
}
.apply-button {
  text-align: center;
  margin: 1rem 0;
}
.filter-text {
  font-weight: bold;
}
